<div>
	You are in: 
	<ul class="breadcrumb">
		<li><%= link_to "Users", {:action => :index} %> <span class="divider">&raquo;</span></li>
		<li class="active"><a href="#">Details of user <b><%= @record.name %></b></a></li>
	</ul>
</div>

<h1>Details of user <b><%= @record.name %></b></h1>
<br/>

<div class="row">
	<div class="span4">
		<% if @record.followings.present? %>
			<div class="well">
				<h4>User IS following:</h4>
		
				<table class="follows">
					<tbody>
						<% @record.followings.each do |follow| %>
						<% next if follow.user.id == @record.id %>
						<tr>
							<th><%= link_to follow.user.name, {:action => :show, :id => follow.user.id } %></th>
							<td><%= link_to "Unfollow", {:action => :unfollow, :follow_id => follow.id }, {:class => "btn btn-danger"} %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<% else %>
			<div class="alert block-message alert- info"><h4>User is not following anyone.</h4></div>
		<% end %>		
	</div>
	<div class="span4">
		<% if @record.unfollowings.present? then %>
			<div class="well">
				<h4>User IS NOT following:</h4>
		
				<table class="follows">
					<tbody>
						<% @record.unfollowings.each do |user| %>
						<% next if user.id == @record.id %>
						<tr>
							<th><%= link_to user.name, {:action => :show, :id => user.id } %></th>
							<td><%= link_to "Follow", {:action => :follow, :owner_id => @record.id, :user_id => user.id }, {:class => "btn btn-primary"} %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<% else %>
			<div class="alert block-message alert- info"><h4>User is not following by anyone.</h4></div>
		<% end %>		
	</div>
	<div class="span4">
		<% if @record.followed_by.present? %>
			<div class="well">
				<h4>User is followed by:</h4>
		
				<table class="follows">
					<tbody>
						<% @record.followed_by.each do |user| %>
						<% next if user.id == @record.id %>
						<tr>
							<th><%= link_to user.name, {:action => :show, :id => user.id } %></th>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<% else %>
			<div class="alert block-message alert- info"><h4>User is not followed by anyone.</h4></div>
		<% end %>
	</div>
</div>